button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-family: inherit;
}

button,
a,
svg {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

body {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
}

.page {
  position: relative;
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 650px) {
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-content-right {
  width: 0;
}

@media screen and (min-width: 1250px) {
  .page-content-right {
    width: 102px;
  }
}

.container {
  width: 100%;
}

@media screen and (min-width: 650px) {
  .container {
    padding-right: 75px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding-right: 105px;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 142px;
    max-width: 100%;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.btn {
  line-height: 16px;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
  border-radius: 50px;
  position: relative;
}

@media screen and (min-width: 500px) {
  .btn {
    min-width: 120px;
  }
}

.btn-white {
  border: 1px solid #5F5797;
  color: #5F5797;
  background: #fff;
}

.btn-white:hover {
  background: rgba(163, 161, 179, 0.1);
}

.btn-white svg {
  margin-right: 6px;
  vertical-align: middle;
}

.btn-primary {
  background: #5F5797;
  color: #fff;
}

.btn-primary:hover {
  background: #433A80;
}

.btn-primary svg {
  fill: #fff;
  margin-left: 8px;
  vertical-align: middle;
}

.btn-default {
  background: rgba(163, 161, 179, 0.1);
  color: #433A80;
}

.btn-default:hover {
  background: #433A80;
  color: #fff;
}

.btn-default:hover svg {
  fill: #fff;
}

.btn-default svg {
  fill: #433A80;
  margin-left: 8px;
  vertical-align: middle;
}

/*** Header ***/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1980px;
  width: 100%;
  margin: 0 auto 20px;
}

@media screen and (min-width: 650px) {
  .header {
    margin: 0 auto;
  }
}

.header-left, .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 650px) {
  .header-left .btn, .header-right .btn {
    margin-right: 36px;
  }
}

.burger {
  width: 75px;
  height: 75px;
  background: #433A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 205;
}

@media screen and (min-width: 769px) {
  .burger {
    width: 102px;
    height: 104px;
  }
}

.burger.active span {
  background: transparent;
}

.burger.active span:before {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
      -ms-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
}

.burger.active span:after {
  -webkit-transform: rotate(-45deg) translate(9px, -8px);
      -ms-transform: rotate(-45deg) translate(9px, -8px);
          transform: rotate(-45deg) translate(9px, -8px);
}

.burger span {
  display: block;
  width: 37px;
  height: 4px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.burger span::before {
  top: -12px;
}

.burger span::after {
  bottom: -12px;
}

.logo-companies a {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 30px;
}

@media screen and (min-width: 500px) {
  .logo-companies a {
    width: 40px;
  }
}

@media screen and (min-width: 650px) {
  .logo-companies a {
    width: 50px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .logo-companies a {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .logo-companies a {
    margin-left: 35px;
  }
}

.logo-companies a img {
  max-width: 100%;
  height: auto;
}

.lang {
  position: relative;
}

.lang:hover .lang-btn::after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.lang:hover .lang-dropdown {
  display: block;
}

.lang-block {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .lang-block {
    width: 102px;
    height: 104px;
  }
}

.lang-btn {
  position: relative;
  padding: 5px 10px;
}

.lang-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  right: -5px;
  width: 7px;
  height: 6px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
}

.lang-dropdown {
  position: absolute;
  bottom: auto;
  left: 0;
  padding-top: 10px;
  display: none;
}

.lang-dropdown:hover {
  display: block;
}

.lang-dropdown li a {
  display: block;
  padding: 0 10px;
}

.nav {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  background: #433A80;
  height: 100%;
  z-index: 100;
  padding-top: 155px;
  -webkit-transform: translateX(-100vh);
      -ms-transform: translateX(-100vh);
          transform: translateX(-100vh);
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .nav {
    width: auto;
    left: 102px;
  }
}

.nav.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.nav-menu li {
  padding: 0 45px 0 30px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.nav-menu li:hover {
  background: #5F5797;
}

.nav-menu li a {
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0;
}

.nav-menu li a span {
  opacity: 0.4;
  margin-right: 20px;
}

/*** Sidebar ***/
.sidebar {
  display: none;
}

@media screen and (min-width: 650px) {
  .sidebar {
    width: 102px;
    background: #5F5797;
    color: #fff;
    position: relative;
    z-index: 102;
    display: block;
  }
}

.sidebar-menu {
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translate(-100%);
      -ms-transform: rotate(-90deg) translate(-100%);
          transform: rotate(-90deg) translate(-100%);
  white-space: nowrap;
  position: absolute;
  top: 160px;
  left: 40px;
}

.sidebar-menu li {
  display: inline-block;
  margin-right: 19px;
}

.sidebar-menu li a {
  display: block;
}

.sidebar-menu li a:hover {
  text-decoration: underline;
}

.sidebar-menu li i {
  height: 1px;
  background: #fff;
  width: 31px;
  display: block;
  margin-bottom: 3px;
}

.sidebar-menu-wrapper-outer {
  display: table;
}

.sidebar-menu-wrapper-inner {
  padding: 50% 0;
  height: 0;
}

.sidebar .typograph {
  position: absolute;
  bottom: 135px;
  left: 40px;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translate(-100%);
      -ms-transform: rotate(-90deg) translate(-100%);
          transform: rotate(-90deg) translate(-100%);
  white-space: nowrap;
}

/*** Main ***/
.main {
  padding: 0 20px;
}

@media screen and (min-width: 650px) {
  .main {
    width: calc(100% - 75px);
    padding: 0;
    padding-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main {
    width: calc(100% - 102px);
  }
}

@media screen and (min-width: 1250px) {
  .main {
    width: calc(100% - 204px);
    padding-left: 0;
  }
}

.main-content {
  position: relative;
  margin-bottom: 25px;
}

@media screen and (min-width: 650px) {
  .main-content::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #B2B2B2;
    width: 300px;
    right: 104px;
    bottom: 0;
  }
}

@media screen and (min-width: 650px) and (min-width: 1250px) {
  .main-content::before {
    right: 0;
  }
}

@media screen and (min-width: 650px) {
  .main-content::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #B2B2B2;
    height: 100%;
    right: 75px;
    top: 0;
  }
}

@media screen and (min-width: 650px) and (min-width: 769px) {
  .main-content::after {
    right: 104px;
  }
}

@media screen and (min-width: 650px) and (min-width: 1250px) {
  .main-content::after {
    right: 0;
  }
}

.social {
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 65px;
}

@media screen and (min-width: 650px) {
  .social {
    right: 76px;
  }
}

@media screen and (min-width: 769px) {
  .social {
    right: 105px;
  }
}

@media screen and (min-width: 1250px) {
  .social {
    right: 1px;
  }
}

.social-btn {
  border-top: 1px solid #B2B2B2;
  border-left: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  background: #fff;
}

@media screen and (min-width: 650px) {
  .social-btn {
    border-right: none;
  }
}

.social-btn:hover {
  background: rgba(95, 87, 151, 0.4);
}

.social .share-btn {
  bottom: 0;
  z-index: 10;
}

.social .js-btn {
  bottom: 0;
  z-index: 5;
  opacity: 0;
}

.social .fb-btn.active {
  bottom: 65px;
  opacity: 1;
}

.social .tw-btn.active {
  bottom: 130px;
  opacity: 1;
}

.social .inst-btn.active {
  bottom: 195px;
  opacity: 1;
}

/*** Promo ***/
.promo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

@media screen and (min-width: 650px) {
  .promo {
    height: 400px;
    background: url(../images/promo.jpg) no-repeat;
    background-size: cover;
    background-position: 0 bottom;
  }
}

@media screen and (min-width: 769px) {
  .promo {
    background-position: center bottom;
  }
}

@media screen and (min-width: 992px) {
  .promo {
    height: 573px;
    max-width: 950px;
  }
}

@media screen and (min-width: 1440px) {
  .promo {
    max-width: 100%;
  }
}

.promo img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 650px) {
  .promo img {
    display: none;
  }
}

.promo-block {
  position: relative;
  margin-bottom: 15px;
}

@media screen and (min-width: 1440px) {
  .promo-block {
    padding: 0 142px;
  }
}

@media screen and (min-width: 650px) {
  .promo-block::after, .promo-block::before {
    content: '';
    position: absolute;
    width: 1px;
    background: #B2B2B2;
    right: 75px;
    z-index: 10;
  }
}

@media screen and (min-width: 650px) and (min-width: 769px) {
  .promo-block::after, .promo-block::before {
    right: 104px;
  }
}

@media screen and (min-width: 650px) and (min-width: 1250px) {
  .promo-block::after, .promo-block::before {
    right: 0;
  }
}

@media screen and (min-width: 650px) {
  .promo-block::before {
    top: -104px;
    height: 240px;
  }
}

@media screen and (min-width: 650px) and (min-width: 992px) {
  .promo-block::before {
    top: -104px;
    height: 415px;
  }
}

.promo-block::after {
  height: 150px;
  bottom: -20px;
}

@media screen and (min-width: 992px) {
  .promo-block::after {
    height: 150px;
    bottom: -20px;
  }
}

.timer {
  background: #433A80;
  color: #fff;
  padding: 10px 35px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  bottom: 50px;
}

@media screen and (min-width: 650px) {
  .timer {
    left: 20px;
    bottom: 100px;
  }
}

@media screen and (min-width: 992px) {
  .timer {
    bottom: 30%;
  }
}

.timer-title {
  margin-bottom: 10px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.timer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer-item {
  text-align: center;
}

.timer-item span {
  display: inline-block;
  padding: 0 10px;
  height: 52px;
  background: #fff;
  border-radius: 5px;
  color: #433A80;
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 5px;
}

.timer-item p {
  font-size: 12px;
  line-height: 14px;
}

.timer-colon {
  margin: 10px 10px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.email-btn {
  display: none;
}

@media screen and (min-width: 650px) {
  .email-btn {
    background: #433A80;
    width: 95px;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    border-radius: 50%;
    bottom: 150px;
    z-index: 10;
    cursor: pointer;
    right: 28.5px;
  }
}

@media screen and (min-width: 769px) {
  .email-btn {
    right: 57.5px;
  }
}

@media screen and (min-width: 1250px) {
  .email-btn {
    right: -47.5px;
  }
}

/*** Webinars ***/
.webinar {
  padding: 0 15px 35px 0;
  border-bottom: 1px solid #B2B2B2;
}

.webinar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.webinar-top-left h4 {
  font-size: 24px;
  line-height: 28px;
}

.webinar-top-right {
  display: none;
}

@media screen and (min-width: 850px) {
  .webinar-top-right {
    display: block;
  }
}

.webinar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.webinar-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.webinar-slider .slick-dots {
  bottom: 0;
}

.webinar-slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 7px;
}

.webinar-slider .slick-dots li button {
  width: 100%;
  height: 100%;
}

.webinar-slider .slick-dots li button::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #C4C4C4;
  border-radius: 50%;
}

.webinar-slider .slick-dots li.slick-active button::before {
  opacity: 1;
  background: #433A80;
}

.webinar-item {
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .webinar-item {
    width: 48%;
  }
}

.webinar-item-img {
  position: relative;
  margin-bottom: 25px;
}

.webinar-item-img img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}

.webinar-item-info {
  width: 123px;
  padding: 10px 10px 13px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
}

.webinar-item-info .timer-item span {
  background: #433A80;
  color: #fff;
  margin: 0 auto 5px;
}

.webinar-item-content h5,
.webinar-item-content h3 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.webinar-item-content h5 {
  font-weight: 400;
}

.webinar-item-content h3 {
  text-transform: uppercase;
  color: #433A80;
  margin-bottom: 20px;
}

@media screen and (min-width: 850px) {
  .webinar-slide {
    margin: 10px;
  }
}

.webinar-slide .webinar-item {
  width: 100%;
}

.webinar-bottom {
  text-align: center;
}

.title {
  font-size: 32px;
  line-height: 37px;
  margin: 0 30px 25px 0;
}

.title p {
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}

.icon-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.icon-lists-1 {
  width: 18px;
}

.icon-lists-2 {
  width: 28px;
  display: none;
}

.icon-lists i {
  display: block;
  width: 8px;
  height: 8px;
  background: #5F5797;
  margin-bottom: 2px;
}

.lists-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

/*** Footer ***/
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
  padding-bottom: 30px;
}

.footer-col {
  margin-right: 65px;
}

.footer-col h5 {
  font-size: 14px;
  font-weight: 400;
  color: #CCCCCC;
  margin-bottom: 20px;
}

.footer-col h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-col p {
  margin-bottom: 10px;
}

.footer-col p a {
  font-weight: 700;
}

.footer-col p a:hover {
  text-decoration: underline;
  color: #433A80;
}

/*** Popup ***/
.popup {
  position: absolute;
  top: 15%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
  opacity: 0;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.popup.open {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.popup-content {
  padding: 35px 85px;
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -200;
  opacity: 0;
  -webkit-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.popup-wrapper.open {
  z-index: 200;
  opacity: 1;
}

.popup-title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 30px;
}

.popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 11px;
  background: url("../images/close.svg") no-repeat;
  cursor: pointer;
}

.popup-input {
  margin-bottom: 15px;
}

.popup-input input {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background: transparent;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .popup-input input {
    width: 360px;
  }
}

.popup-input input::-webkit-input-placeholder {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #D9D9D9;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.popup-input input:-moz-placeholder {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #D9D9D9;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.popup-input input::-moz-placeholder {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #D9D9D9;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.popup-input input:-ms-input-placeholder {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #D9D9D9;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.popup-input input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.popup-input input:focus:-moz-placeholder {
  opacity: 0;
}

.popup-input input:focus::-moz-placeholder {
  opacity: 0;
}

.popup-input input:focus:-ms-input-placeholder {
  opacity: 0;
}

.popup-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.popup-row a {
  line-height: 16px;
  color: #8C94B0;
}

.popup-row a:hover {
  text-decoration: underline;
  color: #433A80;
}
